[project]
	description = Drag and drop widgets using jquery
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Radhika H A (radhikagiri)
[access "refs/for/refs/*"]
	read = group user/Radhika H A (radhikagiri)
	push = group user/Radhika H A (radhikagiri)
	label-Code-Review = -2..+2 group user/Radhika H A (radhikagiri)
	label-Verified = -1..+1 group user/Radhika H A (radhikagiri)
	rebase = group user/Radhika H A (radhikagiri)
	removeReviewer = group user/Radhika H A (radhikagiri)
	submit = group user/Radhika H A (radhikagiri)
[access "refs/heads/*"]
	read = group user/Radhika H A (radhikagiri)
	create = group user/Radhika H A (radhikagiri)
	push = +force group user/Radhika H A (radhikagiri)
	pushMerge = group user/Radhika H A (radhikagiri)
[access "refs/tags/*"]
	push = group user/Radhika H A (radhikagiri)
	push = +force group user/Radhika H A (radhikagiri)
